*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 90px;
    background-color: #0a100d;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*Box1*/
.nav-logo{
    height: 85px;
    width: 100px;
}

.logo{
    background-image: url("My\ first\ design.png");
    background-size: cover;
    height: 80px;
    width: 100%;
}

.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1px solid whitesmoke;
}

/* Box2 */
.del-comm{
    color: #cccccc;
    font-size: 1.275rem;
    margin-left: 15px;
}

.del-add{
    font-size: 1.5rem;
    margin-left: 2px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/*Box 3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 50px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    text-align: center;
    font-size: 1rem;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #750D37;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0a100d;
}

.nav-search:hover{
    border: 1px solid #B9BAA3;
}

/*Box 4*/
span{
    font-size: 1rem;
}

.signin-comm{
    font-size: 1.5rem;
    font-weight: 700;
}

/*Box 5*/
.orders-comm{
    font-size: 1.5rem;
    font-weight: 700;
}

/*Box 6*/

.nav-cart i{
    font-size: 38px;
}

.nav-cart{
    font-size: 1.275rem;
    font-weight: 700;
}

.navbar a{
    text-decoration: none;
    color: whitesmoke;
}
/*Panel*/

.panel{
    height: 35px;
    background-color: #222f3d;
    display: flex;
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
}

.panel-menu a{
    text-decoration: none;
    color: whitesmoke;
}
.panel-ops {
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-ops a{
    text-decoration: none;
    color: whitesmoke;
    align-items: center;
    margin-left: 10px;
}

.panel-deals a{
    font-size: 0.9rem;
    text-decoration: none;
    color: whitesmoke;
}
/*Body area content CSS*/

/*Body Slider*/
.slider {
    height: 300px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    animation: slide 15s infinite;
}

.slide {
    width: 100%;
    flex-shrink: 0;
}

img {
    height: 300px;
    width: 100%;
}

/*slider animation*/

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Shopping Categories*/

.shoppingcategories{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.shoppingcategories a{
    color: black;
    text-decoration: none;
    font-size: 1.10rem;

}

.opts{
    width: 100px;
    height: 150px;
    border: 0.5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.shopcontent{
    margin-left: 40px;
}


/* Top picks*/

.toppicks{
    height: 412px;
    display: flex;
    align-items: center;
}

.picked-items{
    height: 412px;
}

.picked-items a{
    text-decoration: none;
    color: black;
}

.picked-item-opts{
    height: 412px;
    border: 1px solid whitesmoke;
    
}


.pick-details-box{
    height: 81px;
    width: 287px;
    padding: 10px 12px;
}

.box{
    height: 300px;
    width: 23%;
    border: 1px solid black;
}

/*NEXT PARTS IS STILL PENDING*/


/*Footer*/
footer{
    margin-top: 15px;
}
.footer-panel1{
    background-color: #37475A;
    color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.footer-panelrow{
    background-color: #222f3d;
    height: 200px;
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.footer-panelrow2{
    height: 150px;
}
 ul a{
    display: block;
    padding-top: 10px;
    font-size: 0.85rem;
    color: #DDDDDD;
    text-decoration: none;
 }

 ul a:hover{
    text-decoration: underline;
 }

 .footer-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid whitesmoke;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .logo{
    background-image: url("My\ first\ design.png");
    background-size: cover;
    height: 80px;
    width: 100px;
 }

 .footer-panel3a{
    margin-left: 40px;
 }

 .footer-panel3a1 a{
    text-decoration: none;
    color: #DDDDDD;
    margin-right: 8px;
    font-size: 0.85rem;
 }

 .footer-panel3a1 a:hover{
    text-decoration:underline;


 }

 .footer-panel3a2{
    text-align: center;
 }
